*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body{
  overflow: hidden;
}
.body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{ 
  height: 90vh;
  width: 30vw;
  background: url("https://cdn.pixabay.com/photo/2018/05/30/00/24/thunderstorm-3440450_1280.jpg");
  display: flex;
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  padding: 15px;
} 
.top-bar{
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}
.top-bar input{
  height: 50px;
  width: 100%;
  border-radius: 40px;
  padding-left: 40px;
  color: black;
  font-size: 20px;
  outline: none;
}
.top-bar img{
  width: 30px;
  border-radius: 40px;
  position: absolute;
  right: 5%;
  cursor: pointer;
  transition: 5s;
}
.temp-img img{
  height: 200px;
}
.temp{
  font-size: 72px;
  line-height: 72px;
}
.location{
  font-size: 48px;
}
.speedHum{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
}
.speedHum img{
  height: 20px;
}



.humidity ,.speed{
  display: flex;
  gap: 6px;
  align-items: inherit;
}
.h-percentage , .s-meter{
  font-size: 28px;
}
@media (max-width:700px){
  .container{
    height: 100vh;
    width: 100vw;}
}